rest/calculator.wsdl

<definitions name="CalculatorService"
             targetNamespace="http://localhost/calculator"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://localhost/calculator"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <types>
    <xsd:schema targetNamespace="http://localhost/calculator">
      <xsd:element name="CalculateRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="operation" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ResultResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="result" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="CalculateRequest">
    <part name="parameters" element="tns:CalculateRequest"/>
  </message>

  <message name="ResultResponse">
    <part name="parameters" element="tns:ResultResponse"/>
  </message>

  <portType name="CalculatorPortType">
    <operation name="Calculate">
      <input message="tns:CalculateRequest"/>
      <output message="tns:ResultResponse"/>
    </operation>
  </portType>

  <binding name="CalculatorBinding" type="tns:CalculatorPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Calculate">
      <soap:operation soapAction="http://localhost/calculator/Calculate"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="CalculatorService">
    <port name="CalculatorPort" binding="tns:CalculatorBinding">
      <soap:address location="http://localhost:8000/calculator"/>
    </port>
  </service>
</definitions>